body {
    margin: 0px;
    padding: 0px;
}

#header {
    text-align: center;
    color: whitesmoke;
    background-image: url(https://t3.ftcdn.net/jpg/02/18/02/54/360_F_218025408_vAqShwhdxe2wU9WF9YjEYg62sbCQEGMz.webp);
    background-size: cover;
    border-bottom: solid thick black;
    font-family: 'Open Sans', sans-serif;
    font-size: xx-large;
    padding-top: 100px; padding-bottom: 100px;
}
#form {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-top: 50px; padding-bottom: 50px;
}
    .form-input {
        margin-bottom: 10px;
    }
    #submit-button {
        margin-top: 20px;
        font-family: 'Open Sans', sans-serif;
    }
#tasks {
    margin-left: auto; margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    max-width: 80%;
}
    .task-card {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        max-height: 30%; max-width: 30%;
        border: solid darkgray thin;
        border-radius: 10px;
        margin-bottom: 2vw;
    }
        .task-name {
            text-align: center;
            font-family: 'Open Sans', sans-serif;
        }
        .task-desc {
            margin-left: 10px;
            font-family: 'Open Sans', sans-serif;
        }
        .due-date {
            margin-top: auto;
            text-align: center;
            color: red;
            font-family: 'Open Sans', sans-serif;
        }
        .remove-button {
            margin-top: auto;
            margin-left: 50%; transform: translate(-50%);
            margin-bottom: 20px;
            font-family: 'Open Sans', sans-serif;
        }